.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #6e3e13;
    width:50% ;
}
#display{
    background-color: #6e3e13;
}



.container div{
color:white;
height:100px;
width: 100px;
background-color:black;
text-align: center;
line-height: 100px;
font-size: 50px;
margin: 5px;
border-radius: 50%;

}